@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  list-style: none;
  display: flex;
  flex-direction: column;
}
a:link{
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
a:active {
  color: black;
  text-decoration: none;
}
img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
ul{
  padding: 0px;
  margin: 0px;
}
.header{
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  align-items: flex-end;
  padding: 10px;
}
.footer{
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  padding: 10px;
}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}
.left-links{
  display: flex;
  list-style: none;
  gap: 30px;
}
.right-links{
  display: flex;
  list-style: none;
  gap: 30px;
  margin-right: 10px;
}